In [36]:
import pandas as pd
import pickle
import numpy as np
pd.set_option('display.max_columns', None)
import datetime as dt

In [20]:
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings("ignore")

In [21]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [22]:
driver = webdriver.Chrome(chromedriver)

In [23]:
page='https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page'

In [24]:
driver.get(page)
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [25]:
Manhattan_button=driver.find_element_by_xpath('//*[@id="1411686949873"]/div/div/div[2]/div/table/tbody/tr[2]/td[3]/a')
Bronx_button=driver.find_element_by_xpath('//*[@id="1411686949873"]/div/div/div[2]/div/table/tbody/tr[3]/td[3]/a')
Brooklyn_button=driver.find_element_by_xpath('//*[@id="1411686949873"]/div/div/div[2]/div/table/tbody/tr[4]/td[3]/a')
Queens_button=driver.find_element_by_xpath('//*[@id="1411686949873"]/div/div/div[2]/div/table/tbody/tr[5]/td[3]/a')
Staten_Island_button=driver.find_element_by_xpath('//*[@id="1411686949873"]/div/div/div[2]/div/table/tbody/tr[6]/td[3]/a')

In [26]:
Manhattan_button.click()

In [27]:
Bronx_button.click()

In [32]:
Brooklyn_button.click()

In [29]:
Queens_button.click()

In [30]:
Staten_Island_button.click()

In [33]:
pd1=(pd.read_excel('/Users/Layla/Downloads/rollingsales_bronx.xlsx', skiprows=4).dropna(how='all', axis=1))
pd2=(pd.read_excel('/Users/Layla/Downloads/rollingsales_brooklyn.xlsx', skiprows=4).dropna(how='all', axis=1))
pd3=(pd.read_excel('/Users/Layla/Downloads/rollingsales_manhattan.xlsx', skiprows=4).dropna(how='all', axis=1))
pd4=(pd.read_excel('/Users/Layla/Downloads/rollingsales_queens.xlsx', skiprows=4).dropna(how='all', axis=1))
pd5=(pd.read_excel('/Users/Layla/Downloads/rollingsales_statenisland.xlsx', skiprows=4).dropna(how='all', axis=1))

In [37]:
df=pd.concat([pd1, pd2,pd3,pd4,pd5], axis=0).reset_index(drop=True)

In [38]:
df.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3037,101,S0,443 EAST 180 STREET,NaN,10457.0,1.0,2.0,3.0,1293.0,2820.0,1952.0,1,S0,720000,2022-02-23
1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,29,A5,2327 WASHINGTON AVE,NaN,10458.0,1.0,0.0,1.0,1095.0,1260.0,1910.0,1,A5,499999,2022-04-28
2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3039,63,A1,469 EAST 185 STREET,NaN,10458.0,1.0,0.0,1.0,1650.0,1296.0,1910.0,1,A1,599000,2022-05-17

In [39]:
df.columns = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY', 'TAX_CLASS_AT_PRESENT','BLOCK','LOT','BUILDING_CLASS_AT_PRESENT','ADDRESS','APARTMENT_NUMBER','ZIP_CODE','RESIDENTIAL_UNITS','COMMERCIAL_UNITS','TOTAL_UNITS','LAND_SQUARE_FEET','GROSS_SQUARE_FEET','YEAR_BUILT','TAX_CLASS_AT_TIME_OF_SALE','BUILDING_CLASS_AT_TIME_OF_SALE','SALE_PRICE','SALE_DATE']

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98270 entries, 0 to 98269
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         98270 non-null  int64
 1   NEIGHBORHOOD                    98270 non-null  object
 2   BUILDING_CLASS_CATEGORY         98270 non-null  object
 3   TAX_CLASS_AT_PRESENT            98210 non-null  object
 4   BLOCK                           98270 non-null  int64
 5   LOT                             98270 non-null  int64
 6   BUILDING_CLASS_AT_PRESENT       98210 non-null  object
 7   ADDRESS                         98270 non-null  object
 8   APARTMENT_NUMBER                25280 non-null  object
 9   ZIP_CODE                        98268 non-null  float64
 10  RESIDENTIAL_UNITS               74209 non-null  float64
 11  COMMERCIAL_UNITS                55050 non-null  float64
 12  TOTAL_UNITS                     77365 non-null  float64
 13  LAND_SQUARE_FEET                51894 non-null  float64
 14  GROSS_SQUARE_FEET               51894 non-null  float64
 15  YEAR_BUILT                      90962 non-null  float64
 16  TAX_CLASS_AT_TIME_OF_SALE       98270 non-null  int64
 17  BUILDING_CLASS_AT_TIME_OF_SALE  98270 non-null  object
 18  SALE_PRICE                      98270 non-null  int64
 19  SALE_DATE                       98270 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(5), object(7)
memory usage: 15.0+ MB

In [42]:
df.to_csv('raw_data.csv',index=False)